/*
 * style.css - websockethelper demo
 *
 * @author Alexandre Bintz
 * dec. 2014
 */

/* structure
 */

body {

   width: 700px;
  margin: auto;
}

input,
button,
#log {

  padding: 10px;
}

input,
#log {

  width: 700px;
}

p,
button {

  width: 720px;
}


/* appearance
 */

html {

  font-family: Helvetica, Arial;
        color: darkorange;
  text-shadow: 1px 1px 0px bisque;
}

input,
button {

  border: none;
}

input {

   background: bisque;
  border-left: 3px solid darkorange;
}

button {

     background: orange;
  border-bottom: 3px solid rgb(180, 100, 0);
    font-weight: bold;
    text-shadow: 1px 1px 0px bisque;
      font-size: 1.5em;
}

button:active {

  background: bisque;

}

#log {

  font-family: Consolas, Courier;
}

output {

  font-weight: bold;
}

#output-error {

  color: darkred;
}

#input-wsurl,
#input-wsprotocols {

  font-size: 1.1em;
}

#input-message {

  font-size: 1.2em;
}

#log {

  padding: 0;
}

#log p {

  margin: 0;
}
